@import "./config";
@import "./mixins";
@import './normalize';
@import './animate';
html,body{width:100%;height:100%;}
body {font-size:.3rem;background-color: $bgColor;}
a{text-decoration: none;}
#app {-webkit-font-smoothing: antialiased;}
/*弹性盒子*/
.box{display: flex;position:relative;}
.box-f1{flex: 1;}
.box-ac{align-items: center}
.box-jc{justify-content: center}
.box-ver{flex-direction: column}

.w-p100{width:100%;}
.h-p100{height:100%}
.hide{display: none !important;}
/*浮动+清除浮动*/
.fr{float: right} .fl{float: left}
.clear:after{content:'';display:block;clear: both}
/*文字超出显示省略号*/
.ell{overflow: hidden;white-space: nowrap; text-overflow: ellipsis}
.tx-c{text-align: center;}
.tx-r{text-align: right;}
.tx-l{text-align: left;}
.of-y-s{overflow-y: scroll;-webkit-overflow-scrolling: touch;}
.of-y-h{overflow-y:hidden;}
.bor-none{border:none !important;}
.bg-img1,.icon{ @include bg-size(contain); }
.bg-img2{@include bg-size(100% auto);}
.tc-main{color:$themeColor;}
.bc-fff{background-color: #FFF;}

.mask-full{
  position: fixed;
  z-index:888;
  width:100%;
  height:100%;
  font-size:1rem;
  background-color:rgba(0,0,0,0);
}

.icon-back{
  position: absolute;
  z-index:2;
  left:.2rem;
  top:.17rem;
  width:.5rem;
  height:.5rem;
  background-image:url('../images/icon-back.svg');
}

.icon-upload{
  background-image:url('../images/icon-camera.svg');
}

.icon-serach{
  background-image:url('../images/icon-search.svg');
}
#__vconsole{
  font-size:.24rem !important;
}
